<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="edu.columbia.cs.psl.halo.admin.application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="halo-admin-icon.png">
         <run
               class="edu.columbia.cs.psl.halo.admin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.columbia.cs.psl.halo.admin.perspective.ClassesUsersPerspective"
            id="edu.columbia.cs.psl.halo.admin.perspective.ClassesUsersPerspective"
            name="Users and Classes">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.columbia.cs.psl.halo.admin.view.ClassesUsers"
            id="edu.columbia.cs.psl.halo.admin.view.ClassesUsers"
            name="Classes and Users"
            restorable="true">
      </view>
      <view
            class="edu.columbia.cs.psl.halo.admin.view.ClassUserDetails"
            id="edu.columbia.cs.psl.halo.admin.view.ClassUserDetails"
            name="Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.columbia.cs.psl.halo.admin.perspective.ClassesUsersPerspective">
         <view
               id="edu.columbia.cs.psl.halo.admin.view.ClassesUsers"
               minimized="false"
               ratio=".02f"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="edu.columbia.cs.psl.halo.admin.view.ClassUserDetails"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.columbia.cs.psl.halo.admin.handler.CallEditor"
            id="edu.columbia.cs.psl.halo.admin.openEditor"
            name="Open Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.columbia.cs.psl.halo.admin.application"
            name="HALO Application Product">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="edu.columbia.cs.psl.halo.admin.splashHandlers.InteractiveSplashHandler"
            id="edu.columbia.cs.psl.halo.admin.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="edu.columbia.cs.psl.halo.admin.product"
            splashId="edu.columbia.cs.psl.halo.admin.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.columbia.cs.psl.halo.admin.application"
            name="HALO SE Admin">
         <property
               name="windowImages"
               value="os x icon/128.png">
         </property>
         <property
               name="appName"
               value="HALO SE Admin">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.columbia.cs.psl.halo.admin.editor.UserEditor"
            default="false"
            id="edu.columbia.cs.psl.halo.admin.editor.UserEditor"
            name="User Editor">
      </editor>
   </extension>

</plugin>
