<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.columbia.cs.psl.halo.admin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.columbia.cs.psl.halo.admin.Perspective"
            id="halo-se-admin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="edu.columbia.cs.psl.halo.admin.View"
            id="halo-se-admin.view">
      </view>
      <view
            class="edu.columbia.cs.psl.halo.admin.views.LoginView"
            id="edu.columbia.cs.psl.halo.admin.views.LoginView"
            name="Login"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="edu.columbia.cs.psl.halo.admin.views.LoginView"
               minimized="false"
               ratio=".95f"
               relationship="stack"
               relative="halo-se-admin.view"
               standalone="true">
         </view>
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="halo-se-admin.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
