<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HALO SE"
            id="edu.columbia.cs.psl.halo.client">
      </category>
      <view
            allowMultiple="false"
            category="edu.columbia.cs.psl.halo.client"
            class="edu.columbia.cs.psl.halo.client.views.DashboardView"
            id="edu.columbia.cs.psl.halo.client.views.DashboardView"
            name="HALO Dashboard"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="edu.columbia.cs.psl.halo.client"
            class="edu.columbia.cs.psl.halo.client.views.QuestHUD"
            id="edu.columbia.cs.psl.halo.client.views.QuestHUD"
            name="HALO Quests"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.columbia.cs.psl.halo.client.views.DashboardView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="edu.columbia.cs.psl.halo.client.views.QuestHUD"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.columbia.cs.psl.halo.client.editor.AssignmentViewerEditor"
            default="false"
            id="edu.columbia.cs.psl.halo.client.editor.AssignmentViewerEditor"
            name="Assignment Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.columbia.cs.psl.halo.client.handler.OpenEditor"
            id="edu.columbia.cs.psl.halo.client.commands.openEditor"
            name="Open Editor">
      </command>
   </extension>
   <extension
         id="edu.columbia.cs.psl.halo.client.HALOLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="edu.columbia.cs.psl.halo.client.HALOLoginModule">
      </loginModule>
   </extension>
   <extension
         id="edu.columbia.cs.psl.halo.client.LoginCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="edu.columbia.cs.psl.halo.client.LoginCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         id="edu.columbia.cs.psl.halo.client.LoginCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="edu.columbia.cs.psl.halo.client.LoginCallbackHandler"
            configName="HALOLogin">
      </callbackHandlerMapping>
   </extension>

</plugin>
