{% extends "base_admin.html" %}
{% block content %}

{% if admin_this_course %}

<div class="assignment-admin-wrapper">
	<ul class="admin-course-list">
		{% for course in admin_courses %}
			<li> <a href="/admin/{{ course.id }}">{{ course.name }} </a></li>
		{% endfor %}
	</ul>

	<ul class="assignment-list">
		{% for asmt in assignment_list %}
			<li>{{ asmt.title }} </li>
		{% endfor %}
	</ul>
	
	
</div>
</html>

{% else %}
Sorry, you do not have permission to see this page.

{% endif %}
{% endblock %}