{% if admin_this_course %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>HALO SE Admin</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/course_admin.css" type="text/css">
<!--	<link rel="stylesheet" href="../../halo_admin/static/css/dashboard.css" type="text/css"> 
	<link rel="stylesheet" href="../../halo_admin/static/css/course_admin.css" type="text/css"> -->


</head>
<body class="admin-wrapper">
	<div class="header">
		<div class="title">HALO SE Administration</div> <div class="welcome" >Welcome, {{ user }}. <a href="/logout">Logout</a></div>
	</div>

	<ul class="admin-course-list">
		{% for course in admin_courses %}
			<li> <a href="/admin/{{ course.id }}">{{ course.name }} </a></li>
		{% endfor %}
	</ul>

	<div class="crud-wrapper">
		<table id="crud-table">
			<tr>
				<td class="crud-item crud-assignments"><a href="/admin/{{ this_course.id }}/assignments">Assignments</a></td>
				<td class="crud-add crud-assignments">Add</td>
				<td class="crud-change crud-assignments">Change</td>
			</tr>
			<tr>
				<td class="crud-item crud-quests"><a href="/admin/{{ this_course.id }}/quests">Quests</a></td>
				<td class="crud-add crud-quests">Add</td>
				<td class="crud-change crud-quests">Change</td>
			</tr>
			<tr>
				<td class="crud-item crud-tasks">Tasks</td>
				<td class="crud-add crud-tasks">Add</td>
				<td class="crud-change crud-tasks">Change</td>
			</tr>
		</table>
	</div>
	
	
</body>
</html>

{% else %}
Sorry, you do not have permission to see this page.

{% endif %}