{% if admin_this_course %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>HALO SE Admin</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/course_admin.css" type="text/css">
<!--	<link rel="stylesheet" href="../../halo_admin/static/css/dashboard.css" type="text/css"> 
	<link rel="stylesheet" href="../../halo_admin/static/css/course_admin.css" type="text/css"> -->


</head>
<body class="admin-wrapper">
	<div class="header">
		<div class="title">HALO SE Administration</div> <div class="welcome" >Welcome, {{ user }}. <a href="/logout">Logout</a></div>
	</div>
	<ul class="admin-course-list">
		{% for course in admin_courses %}
			<li> <a href="/admin/{{ course.id }}">{{ course.name }} </a></li>
			<ul>
				<li><a href="/admin/{{course.id}}/add_assignment">(+) Add New Assignment</a></li>
			{% for assignment in assignments %}
				<li><a href="/admin/{{course.id}}/{{assignment.id}}/quests">{{assignment.title}}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
	</ul>

	{% load charts %}
	{% chart %}
		{% chart-title "Tasks Completed This Week" %}
		{% chart-data data %}
		{% chart-type "bar" %}
		{% chart-size "300x1000" %}
		{% axis "left" %}
			{% axis-labels students %}
		{% endaxis %}
		{% axis "bottom" %}
			{% axis-range 0 data_max %}
		{% endaxis %}
	{% endchart %}
	
</body>
</html>

{% else %}
Sorry, you do not have permission to see this page. Please <a href="/login">log in</a> to administer a course.

{% endif %}