{% extends "base_admin.html" %}
{% block content %}

{% if admin_this_course %}

<div class="assignment-admin-wrapper">
	<ul class="admin-course-list">
		{% for course in admin_courses %}
			<li> <a href="/admin/{{ course.id }}">{{ course.name }} </a></li>
		{% endfor %}
	</ul>

	<ul class="task-list">
		<li><a href="/admin/{{this_course.id}}/{{this_assignment.id}}/{{this_quest.id}}/add_task">(+) Add New Task</a></li>
		{% for task in task_list %}
			<li>{{ task.name }}
				<ul>
					<li> {{ task.description }}</li> 
				</ul>
			</li>
		{% endfor %}
	</ul>
	
	
</div>

{% else %}
Sorry, you do not have permission to see this page.

{% endif %}

{% endblock %}